@model IEnumerable<DAL.Models.Review>

@{
    ViewBag.Title = "ApartmentReviews";
    string apartmentName = ViewBag.ApartmentName;
}

<style>
    #review-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        width: 90%;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>

<div>
    <div class="row" style="margin-bottom:3rem">
        <div class="col-md-8 offset-md-1">
            <h3>Recenzije za apartman</h3>
            <h5>@apartmentName</h5>
        </div>
    </div>

    <div id="review-container" class="p-2 m-auto">
        @foreach (var ar in Model)
        {
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Korisnik: @ar.UserName</p>
                    <p style="color:blue" class="card-text">Ocjena: @ar.Stars</p>
                    <p class="card-text">Komentar: @ar.Details</p>
                </div>
            </div>
        }
    </div>
</div>