@model IEnumerable<DAL.Models.Apartment>

@{
    ViewBag.Title = "Review";
}

<div class="row">
    <form id="contact-form" style="" class="col-md-8 offset-md-2">
        <div class="form-group" style="margin-top:2rem; margin-bottom:2rem">
            @Html.Label("apartments", "Apartman", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-select" name="cities" id="cities">
                    <option selected>Odaberite apartman</option>
                    @if (Model != null && Model.Count() != 0)
                    {
                        foreach (DAL.Models.Apartment apartment in Model)
                        {
                            <option>@apartment.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <fieldset>
            <legend>Recenzija</legend>
            <div style="width: 100%;">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.Label("review-content-label", "Opisite svoje iskustvo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea class="form-control" style="resize:none" maxlength="800" name="review-content" id="review-content" cols="40" rows="8" value=""></textarea>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <div class="col-md-10">
                        <input type="submit" id='btnBook' value="Posalji" class="btn btn-primary" style="margin-top:2rem"/>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
